* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: "Helvetica", Arial, sans-serif;
    margin: 0;
}

header {
    padding: 30px;
    text-align: center;
    background: #386641;
    color: #f2e8cf;
}

.navbar {
    display: flex;
    background: #bc4749;
}

.navbar a {
    color: black;
    padding: 1% 2%;
    text-decoration: none;
    text-align: center;
    transition: box-shadow 0.5s ease;
    border-radius: 15%;
}
/* how can i change the size of the background hover? */

.navbar a:hover {
    background-color: #386641;
    background-size: 50%;
    color: #f2e8cf;
    box-shadow: 0 0 10px 5px #f2e8cf;
}

.under-nav {
  background: #386641;
  padding: .5%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 10%;
    flex-direction: column;
    background-color: #f2e8cf;
    padding: 20px;
}
  
  /* Main column */
.main {
    flex: 80%;
    background-color: #f2e8cf;
    padding: 10px;
    border: #bc4749;
    border-style: dotted;
}

.main a:hover {
  background-color: #386641;
  background-size: 50%;
  color: #f2e8cf;
  box-shadow: 0 0 10px 5px #f2e8cf;
}



  /* going to try and make a grid layout */
/* .main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
} */

.img {
    background-color: #6a994e;
    width: auto;
    padding: 20px;
  }

.imgr {
    background-color:#bc4749;
    width: auto;
    padding: 20px;
}

.imgp {
    background-color:#386641;
    width: auto;
    padding: 20px;
}

.fog {
  width: 50%;
  height: auto;
  border: solid;
  border-width: 10px;  
  border-radius: 2%;
  border-color:#386641;
}  

@media (max-width: 768px) {
  .fog {
    width: 100%;
  }
}

  .footer {
    padding: 20px;
    text-align: center;
    background: #a7c957;
    color: black;
    
  }
  
  @media screen and (max-width: 700px) {
    .row, .navbar, .footer {   
      flex-direction: column;
          }
  }

